:root {
    --font-family : "Figtree", sans-serif;
    --font-size-base : 16px;

    --yellow : hsl(47, 88%, 63%);
    --white : hsl(0, 0%, 100%);
    --gray-500 : hsl(0, 0%, 42%);
    --gray-950 : hsl(0, 0%, 7%);

    --bg-color : var(--yellow);
    --bg-card : var(--white);
    --text-main : var(--gray-950);
    --text-muted : var(--gray-500);

    --text-weight-normal : 500;
    --text-weight-bold : 800;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: var(--bg-color);
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: var(--bg-card);
    color: var(--text-main);
    border: 1px solid var(--gray-950);
    border-radius: 1rem;
    width: 17rem;
    height: 23rem;
    box-shadow: 0.5rem 0.5rem rgba(0, 0, 0, 1);
    padding: 1rem 1rem;
    gap: 1rem;
}

.card-text {
    font-size: var(--font-size-base);
    font-family: var(--font-family);
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

.img-main {
    border-radius: 0.75rem;
    width: 15rem
}

.state {
    color: var(--text-main);
    font-size: 0.6rem;
    font-weight: var(--text-weight-bold);
    border: 1px solid var(--bg-color);
    border-radius: 0.3rem;
    padding: 0.3rem 0.5rem;
    background-color: var(--bg-color);
    max-width: fit-content; 
}

.date {
    font-size: 0.65rem;
}

.title {
    font-size: 0.9rem;
    font-weight: var(--text-weight-bold);
    line-height: 1.2;
}

.title:hover {
    color: var(--bg-color);
    cursor: pointer;
}

.description {
    color: var(--text-muted);
    font-size: 0.7rem;
    line-height: 1.1rem;
}

.icon {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    vertical-align: middle;
}

.icon-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    margin-top: 0rem;
}

.author {
    display: inline-block;
    vertical-align: top;
    font-weight: var(--text-weight-bold);
    font-size: 0.6rem;
}

footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    font-size: 0.75rem;
    
    & .footer-text {
        color: var(--text-main);
        font-weight: 600;
        font-size: 0.75rem;
    }
}

@media (max-width: 800px) {
     * {
        font-size: 20px;
     }  
}